NEXT_PUBLIC_SUPABASE_URL=https://xfejqpsgznpnrmsyayvj.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_rJBE7rtJfCxM9jRiwcYExQ_aYI-csor
SUPABASE_SECRET_KEY=sb_secret_tDZ0D-GME0kVc_xgx_1f-g_H-nA0bRU